{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}New Scheduled Report{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tracker/" alt="Tracker">Tracker</a>
    »
    <a href="/tracker/reporting/" alt="Tracker Reporting">Reporting</a>
    »
    <a href="/tracker/reporting/scheduler/" alt="Tracker Scheduled Reports">Scheduled Reports</a>
    » New Scheduled Report
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>New Scheduled Report</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col w3-padding w3-left">{{ message }}</div>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="post">
            {% csrf_token %}
            {{ reportform.non_field_errors }}
            {% for field in reportform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ timespanform.non_field_errors }}
            {% for field in timespanform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ modelform.non_field_errors }}
            {% for field in modelform %}
            {% if field.name == 'id' %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endif %}
            {% endfor %}
            {{ cronform.non_field_errors }}
            {% for field in cronform %}
            <div>
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field ims-hidden" }}
            </div>
            {% endfor %}
            {{ solarform.non_field_errors }}
            {% for field in solarform %}
            <div>
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field ims-hidden" }}
            </div>
            {% endfor %}
            {{ clockform.non_field_errors }}
            {% for field in clockform %}
            <div>
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field ims-hidden" }}
            </div>
            {% endfor %}
            {{ intervalform.non_field_errors }}
            {% for field in intervalform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input type="submit" class="w3-button w3-dark-grey ims-form-field" value="Create">
            </div>
            <div class="w3-bar-item">
                <a href="/tracker/reporting/" class="w3-button w3-light-grey ims-form-field">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    $("#id_schedule").change(function() {
        var schedule = $(this).val();
        hide_not_required("id_time");
        hide_not_required("id_date");
        hide_not_required("id_minute");
        hide_not_required("id_hour");
        hide_not_required("id_day");
        hide_not_required("id_month");
        hide_not_required("id_day_of_week");
        hide_not_required("id_timezone");
        hide_not_required("id_event");
        hide_not_required("id_latitude");
        hide_not_required("id_longitude");
        hide_not_required("id_number");
        hide_not_required("id_period");
        if (schedule === 'c'){
            show_required("id_time");
            show_required("id_date");
        }
        if (schedule === 's'){
            show_required("id_event");
            show_required("id_latitude");
            show_required("id_longitude");
        }
        if (schedule === 't'){
            show_required("id_minute");
            show_required("id_hour");
            show_required("id_day");
            show_required("id_month");
            show_required("id_day_of_week");
            show_required("id_timezone");
        }
        if (schedule === 'i'){
            show_required("id_number");
            show_required("id_period");
        }
    })
    function hide_not_required(field_id){
        elem = document.getElementById(field_id);
        elem.required = NaN;
        elem.parentNode.classList.remove("w3-bar-item");
        $("#"+field_id).addClass("ims-hidden");
    }
    function show_required(field_id){
        elem = document.getElementById(field_id);
        elem.required = true;
        elem.parentNode.classList.add("w3-bar-item");
        $("#"+field_id).removeClass("ims-hidden");
    }
    $("#id_report").change(function() {
        var report = $(this).val();
        var model = '';
        var options = '';
        document.getElementById("id_id").multiple = NaN;
        if (report.slice(-4) === 'list'){
            $("#id_duration").removeClass("ims-hidden");
            $("#id_span").removeClass("ims-hidden");
            options = report;
            if (report != 'recent_user_list'){
                document.getElementById("id_id").multiple = true;
            }
        } else if (report.slice(0,8) === 'historic') {
            $("#id_duration").removeClass("ims-hidden");
            $("#id_span").removeClass("ims-hidden");
            if (report === 'historic_kit_count_graph' || report === 'historic_kit_count'){ model = 'hkcl'; }
            if (report === 'historic_part_count_graph' || report === 'historic_part_count'){ model = 'hpcl'; }
            if (report === 'historic_partstorage_count_graph' || report === 'historic_partstorage_count'){ model = 'hpscl'; }
        } else {
            $("#id_duration").addClass("ims-hidden");
            $("#id_duration").val("1");
            $("#id_span").addClass("ims-hidden");
            $("#id_span").val("h");
            if (report === 'storage_counts_graph' || report === 'storage_counts'){ model = 'scb'; }
            if (report === 'part_counts_graph' || report === 'part_counts'){
                model = 'pcb';
                document.getElementById("id_id").multiple = true;
            }
            if (report === 'kit_counts_graph' || report === 'kit_counts'){
                model = 'kcb';
                document.getElementById("id_id").multiple = true;
            }
        }
        if (model != ''){
            $.ajax({
                'url': '/tracker/reporting/graph_models/' + model + '/',
                success: function(data){
                    $("#id_id").html(data);
                }
            })
        }
        if (options != ''){
            $.ajax({
                'url': '/tracker/reporting/report_options/' + options + '/',
                success: function(data){
                    $("#id_id").html(data);
                }
            })
        }
    })
</script>
{% endblock %}

