{% extends "inventory/base.html" %} {% load get_setting %}
{% load static %}
{% block title %}Scheduled Reports{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tracker/" alt="Tracker">Tracker</a>
    »
    <a href="/tracker/reporting/" alt="Tracker Reporting">Reporting</a>
    » Scheduled Reports
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>Scheduled Reports</b></h4>
    </div>
    <div class="w3-container">
        <div id="message" class="w3-col w3-padding w3-left"></div>
    </div>
    <div class="w3-container">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6">
            {% if 'tracker.can_add_schdreport' in perms %}<div class="w3-right w3-padding"><a href="/tracker/reporting/scheduler/create/" alt="Add Scheduled Report" class="w3-button w3-hover-green w3-round w3-col w3-border">+ New</a></div>{% endif %}
            {% for task in tasks %}
            <div id="{{ task.id }}" class="w3-card w3-padding w3-left w3-col">
                <div class="w3-left"><b>{{ task.name }}</b></div>
                {% if 'tracker.can_delete_schdreport' in perms %}<div class="w3-right"><a href="javascript:void(0)" alt="Delete Scheduled Report id {{ task.id }}" class="w3-hover-red w3-button w3-round w3-border" onclick="delobj({{ task.id }})">- Delete</a></div>{% endif %}
                {% if 'tracker.can_change_schdreport' in perms %}<div class="w3-right"><a href="/tracker/reporting/scheduler/change/{{ task.id }}/" alt="Update Scheduled Report id {{ task.id }}" class="w3-button w3-hover-green w3-round w3-border w3-margin-right">Update</a></div>{% endif %}
                {% if 'tracker.can_change_schdreport' in perms %}<div class="w3-right"><a href="/tracker/reporting/scheduler/view/{{ task.id }}/" alt="View Scheduled Report id {{ task.id }}" class="w3-button w3-hover-green w3-round w3-border w3-margin-right">View</a></div>{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function delobj(id) {
        var parentdiv = document.getElementById(id);
        $.ajax({
            url: '/tracker/reporting/scheduler/delete/' + id + '/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#message").html(data);
            }
        });
    }
</script>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-admin-search-bar w3-padding w3-card">
    <form method="get" style="margin:0;">
        <input type="text" placeholder="search for scheduled report" name="q"{% if query %} value="{{ query }}"{% endif %}/>
        <button class="w3-button" type="submit">Search</button>
    </form>
</div>
<!-- <script type="text/javascript" src="{% static "common/js/searchbar.js" %}"></script> -->
{% endblock %}
