{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Update Scheduled Report{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tracker/" alt="Tracker">Tracker</a>
    »
    <a href="/tracker/reporting/" alt="Tracker Reporting">Reporting</a>
    »
    <a href="/tracker/reporting/scheduler/" alt="Tracker Scheduled Reports">Scheduled Reports</a>
    » Update Scheduled Report
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>Update Scheduled Report</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col w3-padding w3-left">{{ message }}</div>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="post">
            {% csrf_token %}
            {{ reportform.non_field_errors }}
            {% for field in reportform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ timespanform.non_field_errors }}
            {% for field in timespanform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ modelform.non_field_errors }}
            {% for field in modelform %}
            {% if field.name == 'id' %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endif %}
            {% endfor %}
            {{ cronform.non_field_errors }}
            {% for field in cronform %}
            {% if visible == "crontab" %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            {% else %}
            <div>
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field ims-hidden" }}
            {% endif %}
            </div>
            {% endfor %}
            {{ solarform.non_field_errors }}
            {% for field in solarform %}
            {% if visible == "solar" %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            {% else %}
            <div>
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field ims-hidden" }}
            {% endif %}
            </div>
            {% endfor %}
            {{ clockform.non_field_errors }}
            {% for field in clockform %}
            {% if visible == "clocked" %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            {% else %}
            <div>
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field ims-hidden" }}
            {% endif %}
            </div>
            {% endfor %}
            {{ intervalform.non_field_errors }}
            {% for field in intervalform %}
            {% if visible == "interval" %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            {% else %}
            <div>
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field ims-hidden" }}
            {% endif %}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input type="submit" class="w3-button w3-dark-grey ims-form-field" value="Update">
            </div>
            <div class="w3-bar-item">
                <a href="/tracker/reporting/" class="w3-button w3-light-grey ims-form-field">Cancel</a>
            </div>
        </form>
    </div>
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <b>Subscribed Users</b>
    </div>
    <div class="w3-container">
        <div id="submessage" class="w3-col w3-padding w3-left"></div>
    </div>
    <div class="w3-container">
        {% for recipient in recipients %}
        <div id="{{ recipient.id }}" class="w3-card w3-padding w3-left w3-col">
            <div class="w3-left"><b>{{ recipient.name }}</b></div>
            <div class="w3-right"><a id="{{ recipient.id }}-subscribe" onclick="subscription({{ recipient.id }})" alt="Toggle recipient '{{ recipient.name }}' for notifications" class="{% if recipient.subscribed %}w3-hover-red{% else %}w3-hover-green{% endif %} w3-padding w3-round w3-border w3-margin-right">{% if recipient.subscribed %}Una{% else %}A{% endif %}ssign</a></div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function hide_not_required(field_id){
        elem = document.getElementById(field_id);
        elem.required = NaN;
        elem.parentNode.classList.remove("w3-bar-item");
        $("#"+field_id).addClass("ims-hidden");
    }
    function show_required(field_id){
        elem = document.getElementById(field_id);
        elem.required = true;
        elem.parentNode.classList.add("w3-bar-item");
        $("#"+field_id).removeClass("ims-hidden");
    }
    function update_schedule_view(field_ids){
        all_fields = ["id_time","id_date","id_minute","id_day","id_month","id_day_of_week","id_timezone","id_event","id_latitude","id_longitude","id_number","id_period"];
        for (let i = 0; i < field_ids.length; i++){
            index = all_fields.indexOf(field_ids[i]);
            if (index > -1){
                all_fields.splice(index, 1)
                show_required(field_ids[i]);
            }
        }
        all_fields.forEach(hide_not_required)
    }
    $("#id_schedule").change(function (){
        schedule = $(this).val()
        if (schedule === 'c'){
            update_schedule_view(["id_time","id_date"]);
        }
        if (schedule === 's'){
            update_schedule_view(["id_event","id_latitude","id_longitude"]);
        }
        if (schedule === 't'){
            update_schedule_view(["id_minute","id_hour","id_day","id_month","id_day_of_week","id_timezone"]);
        }
        if (schedule === 'i'){
            update_schedule_view(["id_number","id_period"]);
        }
    })
    $("#id_report").change(function() {
        var report = $(this).val();
        var model = '';
        var options = '';
        document.getElementById("id_id").multiple = NaN;
        if (report.slice(-4) === 'list'){
            $("#id_duration").removeClass("ims-hidden");
            $("#id_span").removeClass("ims-hidden");
            options = report;
            if (report != 'recent_user_list'){
                document.getElementById("id_id").multiple = true;
            }
        } else if (report.slice(0,8) === 'historic') {
            $("#id_duration").removeClass("ims-hidden");
            $("#id_span").removeClass("ims-hidden");
            if (report === 'historic_kit_count_graph' || report === 'historic_kit_count'){ model = 'hkcl'; }
            if (report === 'historic_part_count_graph' || report === 'historic_part_count'){ model = 'hpcl'; }
            if (report === 'historic_partstorage_count_graph' || report === 'historic_partstorage_count'){ model = 'hpscl'; }
        } else {
            $("#id_duration").addClass("ims-hidden");
            $("#id_duration").val("1");
            $("#id_span").addClass("ims-hidden");
            $("#id_span").val("h");
            if (report === 'storage_counts_graph' || report === 'storage_counts'){ model = 'scb'; }
            if (report === 'part_counts_graph' || report === 'part_counts'){
                model = 'pcb';
                document.getElementById("id_id").multiple = true;
            }
            if (report === 'kit_counts_graph' || report === 'kit_counts'){
                model = 'kcb';
                document.getElementById("id_id").multiple = true;
            }
        }
        if (model != ''){
            $.ajax({
                'url': '/tracker/reporting/graph_models/' + model + '/',
                success: function(data){
                    $("#id_id").html(data);
                }
            })
        }
        if (options != ''){
            $.ajax({
                'url': '/tracker/reporting/report_options/' + options + '/',
                success: function(data){
                    $("#id_id").html(data);
                }
            })
        }
    })
    function subscription(id) {
        var element = document.getElementById(id + "-subscribe");
        var arr = window.location.pathname.split('/');
        var rid = arr[arr.length -2];
        if (element.text === 'Unassign') {
            $.ajax({
                url: '/tracker/reporting/scheduler/unassign/' + rid + '/' + id + '/',
                type: 'get',
                success: function(data) {
                    if (data.includes('green')) {
                        element.classList.remove('w3-hover-red');
                        element.classList.add('w3-hover-green');
                        element.text = 'Assign';
                    }
                    $("#submessage").html(data);
                }
            });
        } else {
            $.ajax({
                url: '/tracker/reporting/scheduler/assign/' + rid + '/' + id + '/',
                type: 'get',
                success: function(data) {
                    if (data.includes('green')) {
                        element.classList.remove('w3-hover-green');
                        element.classList.add('w3-hover-red');
                        element.text = 'Unassign';
                    }
                    $("#submessage").html(data);
                }
            });
        }
    }
</script>
{% endblock %}