{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Update Scheduled Report{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tracker/" alt="Tracker">Tracker</a>
    »
    <a href="/tracker/reporting/" alt="Tracker Reporting">Reporting</a>
    »
    <a href="/tracker/reporting/scheduler/" alt="Tracker Scheduled Reports">Scheduled Reports</a>
    » View Scheduled Report
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>View Scheduled Report</b></h4>
    </div>
    <div class="w3-right">
        <div id="message" class="w3-left" style="padding-right: 16px;"></div>
        <a id="subscribe" class="w3-hover-{% if subscribed %}red{% else %}green{% endif %} w3-button w3-round w3-border w3-padding" onclick="subscription()">{% if subscribed %}Uns{% else %}S{% endif %}ubscribe</a>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="post">
            {% csrf_token %}
            {{ reportform.non_field_errors }}
            {% for field in reportform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ timespanform.non_field_errors }}
            {% for field in timespanform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ ids.non_field_errors }}
            {% for field in ids %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {% for field in scheduleform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <a href="/tracker/reporting/scheduler/" class="w3-button w3-light-grey ims-form-field">Back</a>
            </div>
        </form>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function subscription() {
        var arr = window.location.pathname.split('/')
        var rid = arr[arr.length -2]
        var element = document.getElementById("subscribe");
        if (element.text === 'Unsubscribe') {
            $.ajax({
                url: '/tracker/reporting/scheduler/unsubscribe/' + rid + '/',
                type: 'get',
                success: function(data) {
                    if (data.includes('green')) {
                        element.classList.remove('w3-hover-red');
                        element.classList.add('w3-hover-green');
                        element.text = 'Subscribe';
                    }
                    $("#message").html(data);
                }
            });
        } else {
            $.ajax({
                url: '/tracker/reporting/scheduler/subscribe/' + rid + '/',
                type: 'get',
                success: function(data) {
                    if (data.includes('green')) {
                        element.classList.remove('w3-hover-green');
                        element.classList.add('w3-hover-red');
                        element.text = 'Unsubscribe';
                    }
                    $("#message").html(data);
                }
            });
        }
    }
</script>
{% endblock %}