{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Tracker Admin{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Tracker Admin</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-card w3-padding">
            <div class="w3-bar w3-border-bottom">
                {% if perms.tracker.view_partthreshold or perms.tracker.view_partthresholdnotify or perms.tracker.view_partthresholdtemplate %}
                <button class="w3-bar-item w3-button zc-tablink" onclick="openTab(event, 'partthreshold_tab')">PartThreshold</button>
                {% endif %}
                {% if perms.tracker.view_partstoragethreshold or perms.tracker.view_partstoragethresholdnotify or perms.tracker.view_partstoragethresholdtemplate %}
                <button class="w3-bar-item w3-button zc-tablink" onclick="openTab(event, 'partstoragethreshold_tab')">PartStorageThreshold</button>
                {% endif %}
                {% if perms.tracker.view_kitthreshold or perms.tracker.view_kitthresholdnotify or perms.tracker.view_kitthresholdtemplate %}
                <button class="w3-bar-item w3-button zc-tablink" onclick="openTab(event, 'kitthreshold_tab')">KitThreshold</button>
                {% endif %}
                {% if perms.tracker.view_objectaction or perms.tracker.view_objectactionnotify or perms.tracker.view_objectactiontemplate %}
                <button class="w3-bar-item w3-button zc-tablink" onclick="openTab(event, 'objectaction_tab')">ObjectAction</button>
                {% endif %}
                {% if perms.tracker.view_emailrecipient or perms.tracker.view_emailtemplate %}
                <button class="w3-bar-item w3-button zc-tablink" onclick="openTab(event, 'email_tab')">Email</button>
                {% endif %}
            </div>
            <div id="partthreshold_tab" class="w3-container zc-tab">
                {% if perms.tracker.view_partthreshold %}<a class="w3-button ims-form-field" href="/tracker/admin/partthreshold/">PartThreshold</a>{% endif %}
                {% if perms.tracker.view_partthresholdnotify %}<a class="w3-button ims-form-field" href="/tracker/admin/partthresholdnotify/">PartThresholdNotify</a>{% endif %}
                {% if perms.tracker.view_partthresholdtemplate %}<a class="w3-button ims-form-field" href="/tracker/admin/partthresholdtemplate/">PartThresholdTemplate</a>{% endif %}
            </div>
            <div id="partstoragethreshold_tab" class="w3-container zc-tab">
                {% if perms.tracker.view_partstoragethreshold %}<a class="w3-button ims-form-field" href="/tracker/admin/partstoragethreshold/">PartStorageThreshold</a>{% endif %}
                {% if perms.tracker.view_partstoragethresholdnotify %}<a class="w3-button ims-form-field" href="/tracker/admin/partstoragethresholdnotify/">PartStorageThresholdNotify</a>{% endif %}
                {% if perms.tracker.view_partstoragethresholdtemplate %}<a class="w3-button ims-form-field" href="/tracker/admin/partstoragethresholdtemplate/">PartStorageThresholdTemplate</a>{% endif %}
            </div>
            <div id="objectaction_tab" class="w3-container zc-tab">
                {% if perms.tracker.view_objectaction %}<a class="w3-button ims-form-field" href="/tracker/admin/objectaction/">ObjectAction</a>{% endif %}
                {% if perms.tracker.view_objectactionnotify %}<a class="w3-button ims-form-field" href="/tracker/admin/objectactionnotify/">ObjectActionNotify</a>{% endif %}
                {% if perms.tracker.view_objectactiontemplate %}<a class="w3-button ims-form-field" href="/tracker/admin/objectactiontemplate/">ObjectActionTemplate</a>{% endif %}
            </div>
            <div id="email_tab" class="w3-container zc-tab">
                {% if perms.tracker.view_emailrecipient %}<a class="w3-button ims-form-field" href="/tracker/admin/emailrecipient/">EmailRecipient</a>{% endif %}
                {% if perms.tracker.view_emailtemplate %}<a class="w3-button ims-form-field" href="/tracker/admin/emailtemplate/">EmailTemplate</a>{% endif %}
            </div>
            <div id="kitthreshold_tab" class="w3-container zc-tab">
                {% if perms.tracker.view_kitthreshold %}<a class="w3-button ims-form-field" href="/tracker/admin/kitthreshold/">KitThreshold</a>{% endif %}
                {% if perms.tracker.view_kitthresholdnotify %}<a class="w3-button ims-form-field" href="/tracker/admin/kitthresholdnotify/">KitThresholdNotify</a>{% endif %}
                {% if perms.tracker.view_kitthresholdtemplate %}<a class="w3-button ims-form-field" href="/tracker/admin/kitthresholdtemplate/">KitThresholdtempalte</a>{% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementsByClassName("zc-tablink")[0].click();
    function openTab(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("zc-tab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("zc-tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].classList.remove("w3-light-grey");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.classList.add("w3-light-grey");
    }
</script>
{% endblock %}
