{% load custom_tags %}
<html>
    <head>
        <style>.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.161)}.w3-padding{padding:8px 16px !important}.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table;border:1px solid #ccc;border-bottom:1px solid #ddd;}.w3-table-all tr{border-bottom:1px solid #ddd;}.w3-table-all tr:nth-child(even){background-color:#f1f1f1;}.w3-table-all tr:nth-child(odd){background-color:#fff;}.w3-table-all td{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top;}.w3-table-all td:first-child{padding-left:16px;}</style>
    </head>
    <body>
        <h3>{{ title }}</h3>
        {{ img_tag }}
    </body>
</html>