{% load custom_tags %}
<html>
    <head>
        <style>.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.161)}.w3-padding{padding:8px 16px !important}.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table;border:1px solid #ccc;border-bottom:1px solid #ddd;}.w3-table-all tr{border-bottom:1px solid #ddd;}.w3-table-all tr:nth-child(even){background-color:#f1f1f1;}.w3-table-all tr:nth-child(odd){background-color:#fff;}.w3-table-all td{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top;}.w3-table-all td:first-child{padding-left:16px;}</style>
    </head>
    <body>
        <h3>{{ title }}</h3>
        <table class="w3-card w3-padding w3-table-all">
            <tbody>{% if title == 'Recent User Activity' %}
                <thead>
                    <th>Logged</th>
                    <th>Level</th>
                    <th>Module</th>
                    <th>User</th>
                    <th>Message</th>
                </thead>{% for item in results %}
                <tr>
                    <td>{{ item.created }}</td>
                    <td>{{ item.get_severity }}</td>
                    <td>{{ item.module }}</td>
                    <td>{{ item.user }}</td>
                    <td>{{ item.message }}</td>
                </tr>{% endfor %}{% elif title == 'Recently Added' %}
                <thead>
                    <th>Created</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                </thead>{% for item in results %}
                <tr>
                    <td>{{ item.created }}</td>
                    <td>{{ item | get_class_name }}</td>{% if item.name %}
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>{% else %}
                    <td colspan="2">{{ item }}</td>{% endif %}
                </tr>{% endfor %}{% elif title == 'Recently Modified' %}
                <thead>
                    <th>Modified</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                </thead>{% for item in results %}
                <tr>
                    <td>{{ item.lastmodified }}</td>
                    <td>{{ item | get_class_name }}</td>{% if item.name %}
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>{% else %}
                    <td colspan="2">{{ item }}</td>{% endif %}
                </tr>{% endfor %}{% elif 'Counts Table' in title %}
                <thead>
                    <th>Name</th>
                    <th>Count</th>
                </thead>{% for item in results %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.count }}</td>
                </tr>{% endfor %}{% elif 'Historic' in title %}
                <thead>
                    <th>Logged</th>
                    <th>Count</th>
                </thead>{% for item in results %}
                <tr>
                    <td>{{ item.time }}</td>
                    <td>{{ item.count }}</td>
                </tr>{% endfor %}{% endif %}
            </tbody>
        </table>
    </body>
</html>