<div>
  <h3>Threshold Notification</h3>
  <div>
    <p>Created: {{ created }}</p>
    {% if partthreshold %}<p>PartTheshold: {{ partthreshold.name }}</p>
    {% elif partstoragethreshold %}<p>PartStorageThreshold: {{ partstoragethreshold.name }}</p>{% endif %}
    <p>Count: {{ threshold.current }}</p>
    <p>Threshold: {{ threshold.count }}</p>
  </div>
</div>
