{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Kit Counts{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tracker/" alt="Tracker">Tracker</a>
    »
    <a href="/tracker/reporting/" alt="Tracker Reporting">Reporting</a>
    » Kit Counts
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>Kit Counts</b></h4>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="get">
            {{ kits_form.non_field_errors }}
            {% for field in kits_form %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input class="w3-left w3-green ims-select-options ims-form-field" type="submit" value="Generate"/>
            </div>
        </form>
    </div>
    {% if graph %}
    <div class="w3-container w3-margin-top">
        <img src="{{ graph }}" alt="A bar chart display the current amounts of each selected kit"/>
    </div>
    {% endif %}
    {% if results %}
    <div class="w3-container w3-margin-top">
        <table class="w3-col l12 w3-card w3-padding w3-table-all">
            <tbody>
                {% for item in results %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
