﻿{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}

{% block title %}KitThresholds List{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>KitThresholds List</b></h4>
    </div>
    {% if perms.tracker.add_kitthreshold %}<div class="w3-right"><a class="w3-button w3-hover-green w3-round w3-border" href="/tracker/admin/kitthreshold/create/">+ New</a></div>{% endif %}
    <div class="w3-container">
        {% for kt in kitthresholds %}
        <div class="w3-col l12 xl6 w3-card w3-padding{% if kt.alarm %} w3-pale-red{% endif %}">
            <a href="{{ kt.get_absolute_url }}" class="w3-medium"><b>{{ kt.name }}</b></a>
            <a href="javascript:void(0)" onclick="ims_expand(this)" class="w3-button w3-right">+</a>
            <div class="w3-col w3-card w3-padding ims-hidden">
                <div class="w3-left"><u>Available:</u> {{ kt.kit.get_available }}</div>
                <div class="w3-right">{{ kt.operator }} <u>Threshold:</u> {{ kt.threshold }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% include "inventory/pagination.html" with page=kitthresholds %}
</div>
<script type="text/javascript" src="{% static "tracker/js/visibility.js" %}"></script>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-search-bar w3-padding w3-card" style="top:43px;">
    <form method="get" style="margin:0;">
        <input type="text" placeholder="search for kitthreshold" name="q"{% if query %} value="{{ query }}"{% endif %}/>
	<button class="w3-button" type="submit">Search</button>
    </form>
</div>
<script type="text/javascript" src="{% static "common/js/searchbar.js" %}"></script>
{% endblock %}
