{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Historic Graphs{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tracker/" alt="Tracker">Tracker</a>
    »
    <a href="/tracker/reporting/" alt="Tracker Reporting">Reporting</a>
    » Graphs
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>Historic Graphs</b></h4>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="get">
            {{ timespan_form.non_field_errors }}
            {% for field in timespan_form %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ model_form.non_field_errors }}
            {% for field in model_form %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input class="w3-left w3-green ims-select-options ims-form-field" type="submit" value="Generate"/>
            </div>
        </form>
    </div>
    {% if graph %}
    <div class="w3-container w3-margin-top">
        <img src="{{ graph }}" alt="{{ alt }}"/>
    </div>
    {% endif %}
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    $("#id_graph").change(function() {
        var model = $(this).val();
        $.ajax({
            'url': '/tracker/reporting/graph_models/' + model + '/',
            success: function(data){
                $("#id_id").html(data);
            }
        })
        if (model.slice(-1) === 'b'){
            $("#id_duration").addClass("ims-hidden");
            $("#id_duration").val("1");
            $("#id_span").addClass("ims-hidden");
            $("#id_span").val("h");
            if (model === 'pcb' || model === 'kcb'){
                document.getElementById("id_id").multiple = true;
            } else {
                document.getElementById("id_id").multiple = NaN;
            }
        } else {
            $("#id_duration").removeClass("ims-hidden");
            $("#id_span").removeClass("ims-hidden");
            document.getElementById("id_id").multiple = NaN;
        }
    })
</script>
{% endblock %}
