{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Reporting{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tracker/" alt="Tracker">Tracker</a>
    » Reporting
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>Reporting</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-card w3-padding w3-bar-block">
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/tracker/reporting/graph/">Graph</a>
            </div>
            <div class="w3-bar-item">
                <a class="w3-button w3-dark-gray ims-form-field" href="/tracker/reporting/recent/adds/">Recently Added</a>
            </div>
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/tracker/reporting/recent/mods/">Recently Modified</a>
            </div>
            <div class="w3-bar-item">
                <a class="w3-button w3-dark-gray ims-form-field" href="/tracker/reporting/recent/user/">Recent User Activity</a>
            </div>
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/tracker/reporting/counts/part/">Part Counts</a>
            </div>
            <div class="w3-bar-item">
                <a class="w3-button w3-dark-gray ims-form-field" href="/tracker/reporting/counts/storage/">Storage Contents</a>
            </div>
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/tracker/reporting/counts/kit/">Kit Counts</a>
            </div>
            <div class="w3-bar-item">
                <a class="w3-button w3-dark-gray ims-form-field" href="/tracker/reporting/scheduler/">Scheduled Reports</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
