﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}

{% block title %}{{ emailrecipient.name }}{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
        <h4><b>{{ emailrecipient.name }}</b></h4>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6">
            <div class="w3-left"><b>Email Address:</b> {{ emailrecipient.email }}<br/><b>Last Modified:</b> {{ emailrecipient.lastmodified }}</div>
            <div class="w3-right"><b>Created:</b> {{ emailrecipient.created }}</div>
        </div>
    </div>
    <div id="message_div" class="w3-padding w3-left w3-col l12 xl6">
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6">
            <div class="w3-left"><h5><b>PartThreshold Notifications</b></h5></div>
            {% if perms.tracker.add_partthresholdnotify %}<div class="w3-right"><a href="/tracker/admin/partthresholdnotify/create/?emailrecipient={{ emailrecipient.id }}" alt="Add PartThreshold Notification" class="w3-button w3-hover-green w3-round w3-border">+ New</a></div>{% endif %}
            {% for ptn in partthresholdnotify %}
            <div id="ptn-{{ ptn.id }}" class="w3-card w3-padding w3-left w3-col">
                <div class="w3-left"><b><a href="{{ ptn.partthreshold.get_absolute_url }}">{{ ptn.partthreshold.name }}</a></b><br/><b>Last Notified:</b> {{ ptn.get_last_triggered_datetime }}</div>
                {% if user.is_authenticated %}<div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deleteptn({{ ptn.id }})">Delete</a></div>{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6">
            <div class="w3-left"><h5><b>PartStorageThreshold Notifications</b></h5></div>
            {% if perms.tracker.add_partstoragethresholdnotify %}<div class="w3-right"><a href="/tracker/admin/partstoragethresholdnotify/create/?emailrecipient={{ emailrecipient.id }}" alt="Add PartStorageThreshold Notification" class="w3-button w3-hover-green w3-round w3-border">+ New</a></div>{% endif %}
            {% for pstn in partstoragethresholdnotify %}
            <div id="pstn-{{ pstn.id }}" class="w3-card w3-padding w3-left w3-col">
                <div class="w3-left"><b><a href="{{ pstn.partstoragethreshold.get_absolute_url }}">{{ pstn.partstoragethreshold.name }}</a></b><br/><b>Last Notified:</b> {{ pstn.get_last_triggered_datetime }}</div>
                {% if user.is_authenticated %}<div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deletepstn({{ pstn.id }})">Delete</a></div>{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6">
            <div class="w3-left"><h5><b>KitThreshold Notifications</b></h5></div>
            {% if perms.tracker.add_kitthresholdnotify %}<div class="w3-right"><a href="/tracker/admin/kitthresholdnotify/create/?emailrecipient={{ emailrecipient.id }}" alt="Add KitThreshold Notification" class="w3-button w3-hover-green w3-round w3-border">+ New</a></div>{% endif %}
            {% for ktn in kitthresholdnotify %}
            <div id="ktn-{{ ktn.id }}" class="w3-card w3-padding w3-left w3-col">
                <div class="w3-left"><b><a href="{{ ktn.kitthreshold.get_absolute_url }}">{{ ktn.kitthreshold.name }}</a></b><br/><b>Last Notified:</b> {{ ktn.get_last_triggered_datetime }}</div>
                {% if user.is_authenticated %}<div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deletektn({{ ktn.id }})">Delete</a></div>{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6">
            <div class="w3-left"><h5><b>ObjectAction Notifications</b></h5></div>
            {% if perms.tracker.add_objectactionnotify %}<div class="w3-right"><a href="/tracker/admin/objectactionnotify/create/?emailrecipient={{ emailrecipient.id }}" alt="Add ObjectAction Notification" class="w3-button w3-hover-green w3-round w3-border">+ New</a></div>{% endif %}
            {% for oan in objectactionnotify %}
            <div id="oan-{{ oan.id }}" class="w3-card w3-padding w3-left w3-col">
                <div class="w3-left"><b>{{ oan.objectaction.name }}</b><br/><b>Last Notified:</b> {{ oan.get_last_triggered_datetime }}</div>
                {% if user.is_authenticated %}<div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deleteoan({{ oan.id }})">Delete</a></div>{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function deleteptn(id) {
        var parentdiv = document.getElementById("ptn-"+id);
        $.ajax({
            url: '/tracker/partthresholdnotify/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#message_div").html(data);
            }
        });
    }
    function deletepstn(id) {
        var parentdiv = document.getElementById("pstn-"+id);
        $.ajax({
            url: '/tracker/partstoragethresholdnotify/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#message_div").html(data);
            }
        });
    }
    function deletektn(id) {
        var parentdiv = document.getElementById("ktn-"+id);
        $.ajax({
            url: '/tracker/kitthresholdnotify/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#message_div").html(data);
            }
        });
    }
    function deleteoan(id) {
        var parentdiv = document.getElementById("oan-"+id);
        $.ajax({
            url: '/tracker/objectactionnotify/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#message_div").html(data);
            }
        });
    }
</script>
{% endblock %}
