﻿{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}

{% block title %}Email Recipients List{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Email Recipients List</b></h4>
    </div>
    {% if perms.tracker.add_emailrecipient %}
    <div class="w3-right">
        <a href="/tracker/admin/emailrecipient/create/" alt="Add EmailRecipient" class="w3-button w3-hover-green w3-round w3-border">+ New</a>
    </div>
    {% endif %}
    <div class="w3-container">
        {% for er in emailrecipients %}
	<div class="w3-col l12 xl6 w3-card w3-padding">
            <a href="{{ er.get_absolute_url }}" class="w3-medium"><b>{{ er.name }}</b> ({{ er.email }})</a>
        </div>
        {% endfor %}
    </div>
{% include "inventory/pagination.html" with page=emailrecipients %}
</div>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-search-bar w3-padding w3-card" style="top:43px;">
    <form method="get" style="margin:0;">
        <input type="text" placeholder="search for emailrecipients" name="q"{% if query %} value="{{ query }}"{% endif %}/>
        <button class="w3-button" type="submit">Search</button>
    </form>
</div>
<script type="text/javascript" src="{% static "common/js/searchbar.js" %}"></script>
{% endblock %}
