{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Recent User Activity{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tracker/" alt="Tracker">Tracker</a>
    »
    <a href="/tracker/reporting/" alt="Tracker Reporting">Reporting</a>
    » Recent User Activity
</div>
<div class="w3-container">
    <div class="w3-left w3-margin-top">
        <h4><b>Recent User Activity</b></h4>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="get">
            {{ timespan_form.non_field_errors }}
            {% for field in timespan_form %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ user_form.non_field_errors }}
            {% for field in user_form %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input class="w3-left w3-green ims-select-options ims-form-field" type="submit" value="Generate"/>
            </div>
        </form>
    </div>
    {% if results %}
    <div class="w3-container w3-margin-top">
        <table class="w3-col l12 w3-card w3-padding w3-table-all">
            <tbody>
                {% for log in results %}
                <tr>
                    <td>{{ log.created }}</td>
                    <td>{{ log.get_severity }}</td>
                    <td>{{ log.module }}</td>
                    <td>{{ log.user }}</td>
                    <td>{{ log.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
