﻿{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}
{% block title %}{{ partthreshold.name }}{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left">
    <h4><b>{{ partthreshold.name }}</b></h4>
    </div>
    {% if user.is_authenticated %}
    <div class="w3-right">
        <div id="message" class="w3-left" style="padding-right: 16px;"></div>
        <a id="subscribe" class="{% if subscribed %}w3-hover-red{% else %}w3-hover-green{% endif %} w3-button w3-round w3-border w3-padding" onclick="subscription({{ partthreshold.id }})">{% if subscribed %}Unsubscribe{% else %}Subscribe{% endif %}</a>
        {% if perms.ims.addons.tracker.delete_partthreshold %}<a class="w3-button w3-hover-red w3-round w3-border w3-padding" href="/tracker/admin/partthreshold/delete/{{ partthreshold.id }}/">- Delete</a>{% endif %}
    </div>
    {% endif %}
    <div class="w3-container w3-margin-bottom">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6{% if partthreshold.alarm %} w3-pale-red{% endif %}">
            <div class="w3-left"><b>Total:</b> {{ partthreshold.part.get_total }}</div>
            <div class="w3-right"><b>{{ partthreshold.operator }}</b> <b>Threshold:</b> {{ partthreshold.threshold }}</div>
        </div>
    </div>
    <div class="w3-container w3-margin-bottom">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6">
            <div class="w3-left"><b>Created:</b> {{ partthreshold.created }}<br/><b>Last Triggered:</b> {{ partthreshold.get_last_triggered_datetime }}</div>
            <div class="w3-right"><b>Modified:</b> {{ partthreshold.lastmodified }}</div>
        </div>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function subscription(id) {
        var element = document.getElementById("subscribe");
        if (element.text === 'Unsubscribe') {
            $.ajax({
                url: '/tracker/partthreshold/' + id + '/unsubscribe/',
                type: 'get',
                success: function(data) {
                    if (data.includes('green')) {
                        element.classList.remove('w3-hover-red');
                        element.classList.add('w3-hover-green');
                        element.text = 'Subscribe';
                    }
                    $("#message").html(data);
                }
            });
        } else {
            $.ajax({
                url: '/tracker/partthreshold/' + id + '/subscribe/',
                type: 'get',
                success: function(data) {
                    if (data.includes('green')) {
                        element.classList.remove('w3-hover-green');
                        element.classList.add('w3-hover-red');
                        element.text = 'Unsubscribe';
                    }
                    $("#message").html(data);
                }
            });
        }
    }
</script>
{% endblock %}
