{% for ptn in partthresholdnotify %}
<div id="ptn-{{ ptn.id }}" class="w3-card w3-padding w3-left w3-col">
    <div class="w3-left"><b><a href="{{ ptn.partthreshold.get_absolute_url }}">{{ ptn.partthreshold.name }}</a></b><br/><b>Last Triggered:</b> {{ ptn.get_last_triggered_datetime }}</div>
    <div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deleteptn({{ ptn.id }})">- Delete</a></div>
</div>
{% endfor %}
{% for pstn in partstoragethresholdnotify %}
<div id="pstn-{{ pstn.id }}" class="w3-card w3-padding w3-left w3-col">
    <div class="w3-left"><b><a href="{{ pstn.partstoragethreshold.get_absolute_url }}">{{ pstn.partstoragethreshold.name }}</a></b><br/><b>Last Triggered:</b> {{ pstn.get_last_triggered_datetime }}</div>
    <div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deletepstn({{ pstn.id }})">- Delete</a></div>
</div>
{% endfor %}
{% for ktn in kitthresholdnotify %}
<div id="ktn-{{ ktn.id }}" class="w3-card w3-padding w3-left w3-col">
    <div class="w3-left"><b><a href="{{ ktn.kitthreshold.get_absolute_url }}">{{ ktn.kitthreshold.name }}</a></b><br/><b>Last Triggered:</b> {{ ktn.get_last_triggered_datetime }}</div>
    <div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deletektn({{ ktn.id }})">- Delete</a></div>
</div>
{% endfor %}
{% for oan in objectactionnotify %}
<div id="oan-{{ oan.id }}" class="w3-card w3-padding w3-left w3-col">
    <div class="w3-left"><b><a href="{{ oan.objectaction.get_absolute_url }}">{{ oan.objectaction.name }}</a></b><br/><b>Last Triggered:</b> {{ oan.get_last_triggered_datetime }}</div>
    <div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deleteoan({{ oan.id }})">- Delete</a></div>
</div>
{% endfor %}
{% for rn in reportnotify %}
<div id="rn-{{ rn.report.id }}" class="w3-card w3-padding w3-left w3-col">
    <div class="w3-left"><b><a href="/tracker/reporting/scheduler/view/{{ rn.report.id }}/">{{ rn.report.name }}</a></b></div>
    <div class="w3-right"><a href="javascript:void(0)" class="w3-hover-red w3-button w3-round w3-border" onclick="deletern({{ rn.report.id }})">- Delete</a></div>
</div>
{% endfor %}
