<div id="id_tracker" class="w3-container w3-margin-bottom ims-hidden">
    <div class="w3-card w3-padding w3-left w3-col l12 xl6">
        <h5><b>Notification Subscriptions</b></h5>
        <div class="w3-padding w3-left w3-col" id="subs_message_div"></div>
        <div id="id_notify_subs">

        </div>
    </div>
</div>

<script>
    window.onload = function (){
        $.ajax({
            'url': '/tracker/profile/',
            success: function(data){
                $("#id_notify_subs").html(data);
                if (data != '\n\n\n'){
                    $("#id_tracker").removeClass("ims-hidden")
                }
            }
        })
    };
    function deleteptn(id) {
        var parentdiv = document.getElementById("ptn-"+id);
        $.ajax({
            url: '/tracker/partthresholdnotify/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#subs_message_div").html(data);
            }
        });
    };
    function deletepstn(id) {
        var parentdiv = document.getElementById("pstn-"+id);
        $.ajax({
            url: '/tracker/partstoragethresholdnotify/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#subs_message_div").html(data);
            }
        });
    };
    function deletektn(id) {
        var parentdiv = document.getElementById("ktn-"+id);
        $.ajax({
            url: '/tracker/kitthresholdnotify/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#subs_message_div").html(data);
            }
        });
    };
    function deleteoan(id) {
        var parentdiv = document.getElementById("oan-"+id);
        $.ajax({
            url: '/tracker/objectactionnotify/' + id + '/delete/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#subs_message_div").html(data);
            }
        });
    };
    function deletern(id) {
        var parentdiv = document.getElementById("rn-"+id);
        $.ajax({
            url: '/tracker/reporting/scheduler/unsubscribe/' + id + '/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#subs_message_div").html(data);
            }
        });
    };
</script>