﻿{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}

{% block title %}PartStorageThresholds List{% endblock %}

{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>PartStorageThresholds List</b></h4>
    </div>
    {% if perms.tracker.add_partthreshold %}<div class="w3-right"><a class="w3-button w3-hover-green w3-round w3-border" href="/tracker/admin/partstoragethreshold/create/">+ New</a></div>{% endif %}
    <div class="w3-container">
        {% for pt in partstoragethresholds %}
	<div class="w3-col l12 xl6 w3-card w3-padding{% if pt.alarm %} w3-pale-red{% endif %}">
            <a href="{{ pt.get_absolute_url }}" class="w3-medium"><b>{{ pt.name }}</b></a>
            <a href="javascript:void(0)" onclick="ims_expand(this)" class="w3-button w3-right">+</a>
	    <div class="w3-col w3-card w3-padding ims-hidden">
                <div class="w3-left"><u>Current:</u> {{ pt.partstorage.count }}</div>
		<div class="w3-right">{{ pt.operator }} <u>Threshold:</u> {{ pt.threshold }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% include "inventory/pagination.html" with page=partstoragethresholds %}
</div>
<script type="text/javascript" src="{% static "tracker/js/visibility.js" %}"></script>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-search-bar w3-padding w3-card" style="top:43px;">
    <form method="get" style="margin:0;">
        <input type="text" placeholder="search for partstoragethreshold" name="q"{% if query %} value="{{ query }}"{% endif %}/>
        <button class="w3-button" type="submit">Search</button>
    </form>
</div>
<script type="text/javascript" src="{% static "common/js/searchbar.js" %}"></script>
{% endblock %}
